<%
	if !defined?(include) || include.include?(current_user.partner_id)
		if !defined?(exclude) || !exclude.include?(current_user.partner_id)
			if !defined?(must_be_member_of_one_or_more_of) || !( must_be_member_of_one_or_more_of & current_user.groups ).empty?
				if !defined?(admin_only) || admin_only
					_url  = (defined?(url) ? url : url_for(action: 'index', controller: target)) rescue nil
					_icon = Icons.icon(defined?(icon) ? icon : target)
%>
<div class="d-none d-md-block p-2 text-center" data-toggle="popover" data-trigger="hover" data-content="<%=(defined?(title) ? title : target).titleize%>">
	<%= link_to _url do %>
		<i class="<%=_icon%> text-muted"></i>
	<% end %>
</div>
<a class="d-inline d-md-none nav-item text-muted" href="<%=_url%>"><i class="<%=_icon%>"></i></a>
<%
				end
			end
		end
	end
%>
